<html>
  <head></head>
  <body>
  	<p><%= message %></p>
    <p>
      Geuss what THE SECRET NUMBER IS !
    </p>
    <form>
	  <input type='text' name='guess' />
	  <input type='submit' value='Guess!' />
	</form>
</html>
